body {
        font-family: Arial, Helvetica, sans-serif;
        max-width: 1200px;
        margin: 0 auto; 
        padding: 25px;          
}

.navbar {
       display: block;
        padding: 0;
        margin-top: 40px;       
}

.navbar lu {
        padding-left: 0;
        margin-left: 0;
}
.navbar li {
        display: inline;
        float: right;
        font-size: 16px;               
}

.navbar a {
        color: gray;
        text-decoration: none;
        padding: 0 20px;
}

.navbar a:hover {
        color: black;
}

.navbar .nav-left {
        float: left;
        padding-left: 0;
        margin-left: -60px;
}

.get-started-btn {
        display: block;
        background: black;
        border-radius: 5px;
        font-size: 16px;
        padding: 12px 0;
        margin-top: -15px;
}
        
.get-started-btn a {
        color: white;
}
 
.get-started-btn a:hover {
        color: white;
}

.get-started-btn:active {
        cursor: click;
        border: 3px solid black;
}

h1 {
        font-size: 32px;
        line-height: 40px;
        font-weight: inherit;
        margin-top: 125px;
}

h1 a {
        color: gray;
}

.second-row {
        margin-bottom: 40px;
}
.public-btn {
        background-color: rgba(0, 0, 0, 0.05);
        border-radius: 20px;
        padding: 1px 10px 8px;
        font-size: 13px;
        border: none;
        margin-right: 10px;       
}

.three-btn {
        float: right;
        padding: 1px 15px 8px;
        font-size: 16px;
        border-radius: 20px;
        margin-left: 15px;        
}

.three-btn-rocket {
        float: right;
        padding: 1px 15px 8px;
        font-size: 16px;
        border-radius: 20px;
        margin-left: 15px;
        border-color: rgb(196, 196, 199);
}

.third-row {
        margin-bottom: 15px;
}
.third-row-items {
       margin-right: 60px;
}

.third-row img {
        margin: 2px 3px -4px;
}

.third-row-item-examples {
        margin-right: 60px;
        text-decoration-line: underline ;
        text-decoration-thickness: 2px; /* Делает подчеркивание толще */
}

.tab-title {
        font-size: 24px;
        padding: 5 px;
}
.table-1 {
        margin-top: 45px;
}

.grayline {
        background-color: rgba(0, 0, 0, 0.05);
        border-radius: 5px;
        font-size: 14px;
        font-family: monospace;
        line-height: 20px;
        padding: 4px 8px;
}

table {
        table-layout: auto /*Отзывчивая таблица с ровными колонками */
}

td {
        padding: 5px;
        vertical-align: top; /* Выравнивание по верхнему краю ячеек */
        margin: 0;
        width: 50%;
}

p {
        margin: 5px 0;
}
button {
       background: white;
        border-radius: 8px;
        border: 1px solid #2b2336;
        font-size: 16px;
        margin: 10px auto;
        padding: 10px 15px 15px;        
}
      
button a {
        text-decoration: none;
        color: black;
}

button img {
        position: relative;
        top: 5px;
}
       
.line {
        margin: 5px 0;
        border-bottom: 1.5px solid #e2dcde;
        padding-bottom: 0px;
        width: 100%;
        text-align: center;
}


video { /* Адаптивное видео */
        width: 100%;
        height: auto;
        max-height: 100%;
} 

.friend-link {
        color: black;

}

.friend-link:hover {
        text-decoration-line: underline;
        text-decoration-thickness: 2px; /* Делает подчеркивание толще */
}

footer {
        margin: 48px 0;
}
.final-phrase {
        font-size: 16px;
        text-align: center;
        margin: 0 0 24px;
}

footer button {
        display: block;
        margin: 0 auto;
        background: black;
        border-radius: 5px;       
        font-size: 16px;
        padding: 12px;
}
        
footer button a {
        color: white;
}
footer button:active {
        cursor: click;
        border: 3px solid white;
        outline: 3px solid black;        
}
